#loginBox {

    width: 300px;
    height: 150px;
    margin: 0 auto;
}

#titeCard {

    width: 300px;
    height: 100px;
    margin: 0 auto;
}

#loginBoxForm {
    height: 100%;
    align-items: center;
    /* background-color: blueviolet; */
}

#userName {

    width: 300px;
    margin: 0 auto;
}

#password {
    width: 300px;
    margin: 0 auto;
}

#submitButton {
    width: 300px;
    margin: 0 auto;
}

#newUser {
    text-align: center;
    cursor: pointer;

}

#newUser:hover {
    background-color: blue;
    color: white;
}